[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/rlaguarda/FrontTemplate.git
[submodule "src/dotnet"]
	path = src/dotnet
	url = https://github.com/rlaguarda/DotnetTemplate.git
[submodule "src/nestjs"]
	path = src/nestjs
	url = https://github.com/rlaguarda/nestjs-template.git
